/*This file contains css for all pages*/
body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family:'Source Sans Pro', sans-serif;
	overflow-x:hidden;
	}
.TitleDiv
{
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-image:url(images/Wallpaper4.jpg);
	color:white;
	width:100%;
}
.HomeImg
{
	height:77%;
	background-image:url(images/indiaCulture.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	display: -webkit-flex;
	display: flex;  
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
}
.flex-container {
	background-image:url(images/Wallpaper4.jpg);
	background-size:cover;
	color:white;
	background-repeat:no-repeat;
	display: -webkit-flex;
	display: flex;  
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	width:100%;
}	

.header
{
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	height: 83px;	
	font-family: Arial, Helvetica, sans-serif;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-image:url(images/Wallpaper4.jpg);
	color:white;
	height:65px;
}
.caption{
	font-style:italic;
	margin:-11px 0 0 0;
	text-align:center;
	font-size:22px;
}


.cityNameTab{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}
.cityName{
	font-size: 48px;
	font-weight: bold;
	margin: 30px 30px 30px 50px;
	width: 300px;
	display: inline-block;
}

.PlanTrip
{		
	background: #DB7063;
	width: 100%;
	height: 30px;
	font-size: 21px;
	border-bottom-right-radius: 40px;
	border-top-right-radius: 40px;
	margin: 37px 30px 30px -10px;
	font-weight: bold;
	cursor: pointer;
}
title
{
	text-align:center;
}


.city-description
{
	font-size: 25px;
	width: 88%;
	margin: 0px 0px 0px 50px;
	overflow-wrap: break-word;
	text-align:justify;
}

.BigImageDiv
{
	width: 40%;
	height: 415px;
	padding: 10px;
	margin: 10px 10px 10px 45px;
	display:inline-block;
}

.MultiImageDiv
{
	display: inline-block;
	margin: 10px 10px 10px 10px;
	padding: 27px 10px 10px 10px;
}



.BigImage{
	width:100%;
	height:100%;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 5px 3px 10px #000000;
}


.delhi-info
{
	font-size: 23px;
	margin: 25px 0 0 34px;
	text-align: justify;
		width:91%;
}
.btnDelhi
{
	margin: 0 0 0 338px;
}

.NavBar
{
	width: 100%;
	height: 7%;
	margin: 10px 10px -24px -3px;
}

ul {
	list-style-type: none;
	width:100%;
}

li {
    float: left;
	width: 34%;
	margin: -11px -11px -11px -17px;
	height:57px;
	background-color:#3448A2;
	text-align:center;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
	background-color: #4ba896;
}

.active {
    background-color: #9c8d8b;;
}

.imageVertical
{
	height: 200px;
	width: 33%;
	display: inline-block;
	margin: 25px 10px 0 45px;
}
.imageData
{
	width: 50%;
	height: 175px;
	display: inline-block;
	font-size: 18px;
	text-align: justify;
	margin: 10px 10px 10px 40px;
	vertical-align:top;
}
.SubTitleName
{
	font-size:27px;
	font-weight:bold;
	text-decoration:underline;
	text-align:center;
}
.pageTitle
{
	font-size:55px;
	font-weight:bold;
	text-align:center;
	margin: 20px;
	height: 23px;
}

.imageBlock1
{
		height:40%;
		margin-top:35px;
}

.imageSun
{
	display:block;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.summer
{
	font-size: 25px;
	display: inline-block;
	width: 40%;
	margin: 31px 0px 0px 61px;
}
.ReservationImage
{
	margin:80px 0px 0px 63px;
	display:inline-block;
}
/*.ReservationImage:hover{
	transform: scale(1.3);
}*/
.link
{
		text-align: center;
		color:white;
}

h1
{
	text-align:center;
}
a
{
	
	font-weight:bold;
}

.Container{
	width:100%;
	background-image:url(images/Wallpaper4.jpg);
	height:87%;
}

.DashboardContainer
{
	width:100%;
	height:100%;
}
.LeftContainer
{
	border: 2px solid white;
	margin-top:14px;
	width: 25%;
	height: 455px;
	display: inline-block;
	vertical-align:top;
	position:relative;
}

.RightContainer
{
	border: 2px solid white;
	width: 74%;
	height: 455px;
	display: inline-block;
	position:relative;
	vertical-align:top;
	margin-top:14px;
}

.TreeMenu
{
	width: 300px;
	height: 300px;
	color:white;
}

.MaxMinIconChild
{
	width:20px;
	margin:10px 10px 0px 10px;
}

.ChildElements
{
	display: block;
	margin: 10px 10px 10px 0px;
	width: 100%;
	text-align:center;
}
.ListItems{
	font-size:26px;
	font-weight:bold;
}

.ListDiv
{
	font-size: 20px;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0px 40px 0px #3448A2;
	width: 316px;
	cursor:pointer;
}

p:hover{
	background-color: #DB7063;
}

#PlacesDashBoard
{
	height: 100%;
	color: white;
}
#TransportDashboard
{
	height: 100%;
	color: white;
}

#FlightDashboard
{
	height: 100%;
	color: white;
}

#HotelDashboard
{
	height: 100%;
	color: white;
}

#ClimateDashboard
{
	height: 100%;
	color: white;
}
.Info-title
{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 10px;
	color:white;
}
.NewPlaces
{
		text-align: center;
		font-size: 45px;
		color: white;
		box-shadow: inset 5px 5px 10px #49d2bd, inset -5px -5px 10px #55bac5;
}

.mySlides
{
	width: 614px;
	height: 443px;
	margin: 23px 23px 23px 140px;
}

.ArrowKeys
{
	display: inline-block;
	vertical-align: top;
	width: 15%;
	height: 100px;
	/*margin: 194px 100px 100px 120px;*/
}

.arrow-buttons {
	width: 47%;
	height: 100px;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: white;
	background-color: #3448A2;
	border: 3px solid white;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	}
  
  .arrow-buttons:hover {
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #3448A2;
	transform: translateY(-7px);
  }

  .delhiPic
  {
	  width:300px;
	  height:300px;
	  margin:39px;
	  
  }

	  .ImageClick
	  {
		-moz-box-shadow:    inset 0 0 10px white;
   		-webkit-box-shadow: inset 0 0 10px white;
   		box-shadow:         inset 0 0 112px white;
	  }
  	.delhiPic:hover{
		transform: scale(1.05);
	  }
  .DelhiContain
  {
	  width:30%;
	  height:70%;
	  cursor:pointer;
	  
   margin: 10px 10px 10px 22px;
   display:inline-block;

  }

  .ImageTitle
  {
	font-size: 44px;
	font-weight: bold;
	height: 10px;	
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	margin:40px;
	text-align:center;
  }

  
  

  .ListItemsPlace
  {
	border: 2px solid white;
	background-color: #1ea295;
	/*width: 450px;*/
	height: 45px;
	display: block;
	margin: 20px;
	border-radius: 25px;
	font-size:18px;
	font-weight:bold;
	color:black;
  }

  .listElementPlace
  {
	font-size: 20px;
	/*width: 90%;*/
	margin: 30px;
	text-align: justify;
  }

  .active
  {
	background-color: #DB7063;
  }

  tab1
  {
	  padding-left:4em;
  }

.BtnContainer
{
	width: 300px;
	margin: 0px 10px 0px -70px;
	display: inline-block;
}
.imageFlight{
	/*margin-top:40px;*/
}
.FlightInfo
{
	font-size: 20px;
	margin-left: 91px;
	width: 80%;
	text-align: center;
}

.content{
	width: 100%;
	margin: 10px;
}

.rowImage{
	width:215px;
	height:200px;
}

	.imageVerticalPlace1
	{
		width: 45%;
		display: inline-block;
		margin: 20px 20px 20px 25px;
	}
	.imageVerticalPlace2
	{
		width:45%;
		display:inline-block;
		margin: 20px 20px 20px 25px;
	}
	.PlaceImage
	{
		width:400px;
		height:300px;
	}


	.Notes{
		color: white;
		font-size: 23px;
		text-align: center;
	}

  @media (min-width:273px) and (max-width:400px)
  {
	
	.header
	{
		font-size: 20px;
	}
	.caption{
		font-style:italic;
		margin:-36px 0 0 0;
		text-align:center;
		font-size:14px;
	}
	

	.NavBar
	{
		width: 100%;
    	height: 30px;
    	margin: 0px 0px 0px -43px;
	}
	
	li {
		width: 35%;
		margin: -13px -10px -11px 3px;
		height: 39px;
		font-size:12px;
	}

	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 10px 10px 0px;
	text-decoration: none;
	}
	.PlanTrip
	{		
		width:100%;
		margin: -15px 30px 30px 124px;
	}

	.city-description
	{
		font-size: 18px;
		margin: 0px 0px 0px 24px;
		text-align: justify;
	}

	.BigImageDiv
	{
		width: 100%;
    	margin: 10px 10px -29px 71px;
    	height: 196px;	
	}
	.BigImage
	{
		width: 57%;
    	height: 149px;
	}

	.MultiImageDiv
	{
		margin:-50px 0px 0px 20px;
	}
	.rowImage{
		width: 48%;
    	height: 119px;
	}
	
	.cityName
	{
		margin:10px 0px 28px -4px;
		text-align:center;
		font-size:39px;
	}

	.BtnContainer
	{
		width:187px;
	}

	.content{
		margin-left:-8px;
	}
  
	.HomeImg
	{
		height:165px;
	}
	
	.NewPlaces
{
		text-align: center;
		font-size: 30px;
		color: white;
		box-shadow: inset 5px 5px 10px #49d2bd, inset -5px -5px 10px #55bac5;
}
	
	/*Delhi Page css media query*/
	.ContainerDelhi{
		width:100%;
		background-image: url(images/Wallpaper4.jpg);
	}
	
	.headerDelhi{
		font-size: 44px;
	font-weight: bold;
	text-align: center;
	height: 83px;	
	font-family: Arial, Helvetica, sans-serif;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-image:url(images/Wallpaper4.jpg);
	color:white;
	height:65px;
	}
	
		
	.LeftContainer
	{
		border: 2px solid white;
		margin-top: 0px;
		width: 100%;
		height: 272px;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.TreeMenu
	{
		width: 100%;
		color: white;
	}

	.ListDiv
	{
		font-size: 18px;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		cursor: pointer;
		width:100%;
	}

	.ListItems
	{
		font-size: 20px;
		font-weight: bold;
		height: 25px;
		text-align: center;
		background-color:#419597;
	}

	.RightContainer
	{
		border: 2px solid white;
		width: 100%;
		height: 100%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top: 14px;
	}

	.Info-title
	{
		font-size:26px;
	}
	.imageBlackPlace
	{
		margin-top:-20px;
	}

	.imageVerticalPlace1
	{
		width:81%;
	}
	.imageVerticalPlace2
	{
		width:81%;
	}
	.PlaceImage
	{
		width:100%;
		height:195px;
		margin-top:-20px;
	}

	.ListItemsPlace
  {
	border: 2px solid white;
	background-color: #1ea295;
	height: 45px;
	display: block;
	margin: 14px;
	border-radius: 25px;
	font-size:15px;
	font-weight:bold;
	color:black;
  }

  .listElementPlace
  {
	font-size: 16px;
	margin: 30px;
	text-align: justify;
  }
  
  /*CSS for pictures page*/
	.ContainerPics{
	width:100%;
	height:100%;
	background-image:url(images/Wallpaper4.jpg);
	}
	
	.DelhiContain{
		width: 87%;
    height: 280px;
    cursor: pointer;
    margin: 10px 10px 10px 22px;
    display: inline-block;
	}
	.delhiPic
	{
		width: 86%;
		height: 140px;
		margin: 21px;
	}
	.ImageTitle{
		font-size: 35px;
    font-weight: bold;
    height: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 22px;
    text-align: center;
	}
	
	/*css for slides in pictures page*/

	.w3-display-container
	{
		display: inline-block;
		width: 100%;
		height: 30%;
		;
	}
	.mySlides{
		width: 100%;
		height: 300px;
		margin:0px
	}
	.ArrowKeys{
		display: inline-block;
		width: 52%;
		margin-right:auto;
		margin-left:auto;
		display:block;
	}
	
	.arrow-buttons{
		height:70px;
	}
	/*css for transport page*/
	.imageBlock1{
		height: 40%;
		margin-top: 35px;
		width: 100%;
	}
	.imageVertical{
		height: 200px;
		width: 74%;
		display: inline-block;
		margin: 25px 10px 0 45px;
	}
	
	
	.imageData{
		width: 79%;
		height: 175px;
		display: inline-block;
		font-size: 18px;
		text-align: justify;
		margin: 10px 10px 10px 40px;
		vertical-align: top;
	}
	
	/*css for climate page */
	.row1{
		wisth:100%;
	}
	.summer{
		display: inline-block;
		width: 100%;
		margin: 0px 0px 0px 5px;
	}
	.imageSun{
		width:75%;
	}
	.imageInfo{
		font-size: 20px;
		width: 90%;
		text-align:center;
		margin-left: 14px;
	}
	
	/*css for bookings page:both flight and hotel */
	.FlightInfo{
		font-size: 18px;
		width: 100%;
		text-align: center;
		margin-left:0px;
	}
	.imageBlockFlight{
		width:100%;
	}
	.ReservationImage{
		margin: 70px 0px 0px 10px;
		display: inline-block;
		width:100%;
	}
  }

  
  @media (min-width:401px) and (max-width:600px)
  {
	.header
	{
		font-size: 29px;
	}
	.caption{
		font-style:italic;
		margin:-30px 0 0 0;
		text-align:center;
		font-size:18px;
	}

	/*.NavBar
	{
		width: 100%;
		height: 105px;
		margin: 10px;
	}

	li {
		width: 100%;
		margin: -11px -11px -11px -51px;
		height:55px;
	}

	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size:20px;
	}*/
	.NavBar
	{
		width: 100%;
    	height: 30px;
    	margin: 0px 0px 0px -43px;
	}
	
	li {
		width: 34%;
		margin: -11px -11px -11px 4px;
		height: 39px;
	}

	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	}

	.PlanTrip
	{		
		width:100%;
	}

	.city-description
	{
		font-size: 18px;
		width: 100%;
		margin: 0px 0px 0px 5px;
		overflow-wrap: break-word;
		text-align: justify;
	}

	.BigImageDiv
	{
		width:85%;
		margin:0px 10px 10px 37px;
		
	}
	.BigImage
	{
		width:94%;
		height:300px;
	}
	.NewPlaces
{
		text-align: center;
		font-size: 30px;
		color: white;
		box-shadow: inset 5px 5px 10px #49d2bd, inset -5px -5px 10px #55bac5;
}
	.MultiImageDiv
	{
		margin:-157px 10px 10px 44px;
		display:inline-block;
		width:86%;
	}
	.rowImage{
		width:45%;
		height:194px;
	}
	.row2
	{
		margin:0px;
	}

	.row1{
		width:100%;
		display:inline-block;
	}

	.cityName
	{
		text-align: center;
		margin: 0px;
		font-size: 45px;
	}

	.BtnContainer
	{
		width: 300px;
		margin: 0px 10px 0px 45px;
	}

	.imageList{
		width:100%;
	}

	.content
	{
		width:93%;
	}

	ul {
		list-style-type: none;
		width:100%;
	}
	
	.HomeImg
	{
		height:220px;
	}
	/*Delhi Page css media query*/
	.ContainerDelhi{
		width:100%;
		background-image: url(images/Wallpaper4.jpg);
	}
	
	.headerDelhi{
		font-size: 44px;
	font-weight: bold;
	text-align: center;
	height: 83px;	
	font-family: Arial, Helvetica, sans-serif;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-image:url(images/Wallpaper4.jpg);
	color:white;
	height:65px;
	}
	

	.LeftContainer
	{
		border: 2px solid white;
		margin-top: 14px;
		width: 100%;
		height: 283px;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.TreeMenu
	{
		width: 100%;
		height: 248px;
		color: white;
	}

	.ListDiv
	{
		font-size: 19px;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		width: 100%;
		cursor: pointer;
	}

	.ListItems
	{
		font-size: 24px;
		font-weight: bold;
		height: 29px;
		text-align: center;
		background-color:#419597;
	}
	.RightContainer
	{
		border: 2px solid white;
		width: 100%;
		height: 100%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top: 14px;
		overflow-x: hidden;
	}

	.Info-title
	{
		font-size:26px;
	}
	.imageBlackPlace
	{
		margin-top:-20px;
	}

	.imageVerticalPlace1
	{
		width:90%;
	}
	.imageVerticalPlace2
	{
		width:90%;
	}
	.PlaceImage
	{
		width:100%;
		height:200px;
		margin-top:-20px;
	}

	.ListItemsPlace
  {
	border: 2px solid white;
	background-color: #1ea295;
	height: 45px;
	display: block;
	margin: 20px;
	border-radius: 25px;
	font-size:18px;
	font-weight:bold;
	color:black;
  }

  .listElementPlace
  {
	font-size: 16px;
	margin: 30px;
	text-align: justify;
  }
  
  /*CSS for pictures page*/
	.ContainerPics{
	width:100%;
	height:100%;
	background-image:url(images/Wallpaper4.jpg);
	}
	
	.DelhiContain{
		width: 87%;
    height: 280px;
    cursor: pointer;
    margin: 10px 10px 10px 22px;
    display: inline-block;
	}
	.delhiPic
	{
		width: 87%;
		height: 218px;
		margin: 21px;
	}
	.ImageTitle{
		font-size: 35px;
    font-weight: bold;
    height: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 22px;
    text-align: center;
	}
	
	
	/*css for slides in pictures page*/

	.w3-display-container
	{
		display: inline-block;
		width: 100%;
		height: 30%;
		;
	}
	.mySlides{
		width: 100%;
		height: 405px;
		margin:0px
	}
	.ArrowKeys{
		display: inline-block;
		vertical-align: top;
		width: 52%;
		margin-right:auto;
		margin-left:auto;
		display:block;
	}
	.arrow-buttons{
		height:68px;
	}
	/*css for transport page*/
	.imageBlock1{
		height: 40%;
		margin-top: 35px;
		width: 100%;
	}
	.imageVertical{
		height: 200px;
		width: 66%;
		display: inline-block;
		margin: 25px 10px 0 80px;
	}
	
	
	.imageData{
		width: 79%;
		height: 138px;
		display: inline-block;
		font-size: 18px;
		text-align: justify;
		margin: 10px 10px 10px 51px;
		vertical-align: top;
	}
	/*css for climate page */
	.row1{
		wisth:100%;
	}
	.summer{
		display: inline-block;
		width: 100%;
		margin: 0px 0px 0px 5px;
	}
	.imageSun{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 68%;
	}
	.imageInfo{
		font-size: 20px;
		width: 90%;
		text-align:center;
		margin-left: 14px;
	}
	/*css for bookings page:both flight and hotel */
	.FlightInfo{
		font-size: 18px;
		width: 100%;
		text-align: center;
		margin-left:0px;
	}
	.imageBlockFlight{
		width:100%;
	}
	.ReservationImage{
		margin-top:60px;
		display: block;
		width:50%;
	}
 }

  @media only screen 
and (min-width : 601px) 
and (max-width : 800px) {
	.header
	{
		font-size: 33px;
	}
	.caption{
		font-style:italic;
		margin:-30px 0 0 0;
		text-align:center;
		font-size:18px;
	}

	.NavBar
	{
		width: 100%;
		height: 32px;
		margin: 7px;
	}

	li {
		float: left;
		width: 41%;
		margin: -11px -11px -11px -51px;
		height: 44px;
		background-color: #3448A2;
		text-align: center;
	}

	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	height:24px;
	}

	.PlanTrip
	{		
		width:100%;
	}

	.city-description
	{
		font-size: 18px;
		width: 100%;
		margin: 0px 0px 0px 11px;
		overflow-wrap: break-word;
		text-align: justify;
	}

	.BigImageDiv
	{
		width:85%;
		margin:0px 10px 10px 37px;
		
	}
	.NewPlaces
{
		text-align: center;
		font-size: 35px;
		color: white;
		box-shadow: inset 5px 5px 10px #49d2bd, inset -5px -5px 10px #55bac5;
}
	.BigImage
	{
		width:94%;
		height:300px;
	}

	.MultiImageDiv
	{
		margin:-157px 10px 10px 44px;
		display:inline-block;
		width:86%;
	}
	.rowImage{
		width:45%;
		height:194px;
	}
	.row2
	{
		margin:0px;
	}

	.row1{
		width:100%;
		display:inline-block;
	}

	.cityName
	{
		text-align: center;
		margin: 0px;
		font-size: 45px;
	}

	.BtnContainer
	{
		width: 300px;
		margin: 0px 10px 0px 45px;
	}

	.imageList{
		margin-left:22px;
		width:100%;
	}

	.content
	{
		width:93%;
	}

	ul {
		list-style-type: none;
		width:100%;
	}
	
  .HomeImg
	{
		height:300px;
	}
	
	/*Delhi Page css media query*/
	.ContainerDelhi{
		width:100%;
		background-image: url(images/Wallpaper4.jpg);
	}
	
	.headerDelhi{
		font-size: 44px;
	font-weight: bold;
	text-align: center;
	height: 83px;	
	font-family: Arial, Helvetica, sans-serif;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-image:url(images/Wallpaper4.jpg);
	color:white;
	height:65px;
	}

	.LeftContainer
	{
		border: 2px solid white;
		margin-top: 14px;
		width: 100%;
		height: 325px;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.TreeMenu
	{
		width: 100%;
		height: 248px;
		color: white;
	}

	.ListDiv
	{
		font-size: 21px;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		width: 100%;
		cursor: pointer;
	}

	.ListItems
	{
		font-size: 23px;
		font-weight: bold;
		height: 36px;
		text-align: center;
		background-color:#419597;
	}
	.RightContainer
	{
		border: 2px solid white;
		width: 100%;
		height: 100%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top: 14px;
		overflow-x: hidden;
	}

	.Info-title
	{
		font-size:26px;
	}
	.imageBlackPlace
	{
		margin-top:-20px;
	}

	.imageVerticalPlace1
	{
		width: 40%;
		display: inline-block;
		margin: 20px 20px 20px 25px;
	}
	.imageVerticalPlace2
	{
		width:40%;
		display:inline-block;
		margin: 20px;
	}
	.PlaceImage
	{
		width:260px;
		height:195px;
		margin-top:-20px;
	}



  .listElementPlace
  {
	font-size: 16px;
	margin: 30px;
	text-align: justify;
  }
  /*CSS for pictures page*/
	.ContainerPics{
	width:100%;
	height:100%;
	background-image:url(images/Wallpaper4.jpg);
	}
	
	.DelhiContain{
		width: 91%;
    height: 292px;
    cursor: pointer;
    margin: 10px 10px 10px 22px;
    display: inline-block;
	}
	.delhiPic
	{
		width: 80%;
    height: 284px;
    margin: 22px 22px 23px 74px;
	}
	.ImageTitle{
		font-size: 43px;
    font-weight: bold;
    height: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 22px;
    text-align: center;
	}
	
	/*css for slides in pictures page*/

	.w3-display-container
	{
		display: inline-block;
		width: 100%;
		height: 30%;
		;
	}
	.mySlides{
		width: 100%;
		height: 405px;
		margin:0px
	}
	.ArrowKeys{
		display: inline-block;
		vertical-align: top;
		width: 48%;
		margin-right:auto;
		margin-left:auto;
		display:block;
	}
	.arrow-buttons{
		height:80px;
	}
	/*css for transport page*/
	.imageBlock1{
		height: 40%;
		margin-top: 35px;
		width: 100%;
	}
	.imageVertical{
		height: 200px;
		width: 66%;
		display: inline-block;
		margin: 25px 10px 0 176px;
	}
	
	
	.imageData{
		width: 79%;
		height: 94px;
		display: inline-block;
		font-size: 18px;
		text-align: justify;
		margin: 10px 10px 10px 65px;
		vertical-align: top;
	}
	/*css for climate page */
	.row1{
		wisth:100%;
	}
	.summer{
		display: inline-block;
		width: 100%;
		margin: 0px 0px 0px 5px;
	}
	.imageSun{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 35%;
	}
	.imageInfo{
		font-size: 20px;
		width: 90%;
		text-align:center;
		margin-left: 14px;
	}
	/*css for bookings page:both flight and hotel */
	.FlightInfo{
		font-size: 18px;
		width: 100%;
		text-align: center;
		margin-left:0px;
	}
	.imageBlockFlight{
		width:100%;
	}
	.ReservationImage{
		display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 60px;
	}
  }
  
  
  @media only screen 
and (min-width : 801px) 
and (max-width : 960px) 
  {


	.NavBar
	{
		width: 100%;
		height: 30px;
		margin: 10px;
	}

	.NavBarDelhi
	{
		height: 8%;
	}
	.ul{
			width:100%;
	}
	li {
		width: 39%;
		height:45px;
		margin:-11px -11px -11px -51px;
	}


	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	}

	.PlanTrip
	{		
		width:100%;
	}

	.city-description
	{
		font-size: 18px;
		width: 100%;
		margin: 0px 0px 0px 34px;
		overflow-wrap: break-word;
		text-align: justify;
	}

	.BigImageDiv
	{
		width:85%;
		margin:0px 10px 10px 37px;
		
	}
	.BigImage
	{
		width:94%;
		height:300px;
	}

	.MultiImageDiv
	{
		margin:-157px 10px 10px 44px;
		display:inline-block;
		width:86%;
	}
	.rowImage{
		width:45%;
		height:194px;
	}
	.row2
	{
		margin:0px;
	}

	.row1{
		width:100%;
		display:inline-block;
	}

	.cityName
	{
		text-align: center;
		margin: 0px;
		font-size: 45px;
	}

	.NewPlaces
{
		text-align: center;
		font-size: 40px;
		color: white;
		box-shadow: inset 5px 5px 10px #49d2bd, inset -5px -5px 10px #55bac5;
}
	.BtnContainer
	{
		width: 300px;
		margin: 0px 10px 0px 45px;
	}

	.imageList{
		margin-left:58px;
		width:100%;
	}

	.content
	{
		width:93%;
	}

	ul {
		list-style-type: none;
		width:100%;
	}
	
	.HomeImg
	{
		height:358px;
	}
	
	
	/*Delhi Page css media query*/
	.ContainerDelhi{
		width:100%;
		height:86%;
		background-image: url(images/Wallpaper4.jpg);
	}
	
	.headerDelhi{
		font-size: 44px;
	font-weight: bold;
	text-align: center;
	height: 83px;	
	font-family: Arial, Helvetica, sans-serif;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-image:url(images/Wallpaper4.jpg);
	color:white;
	height:65px;
	}
	.LeftContainer
	{
		border: 2px solid white;
		margin-top: 14px;
		width: 30%;
		height: 97%;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.RightContainer
	{
		border: 2px solid white;
		width: 68%;
		height:97%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top: 14px;
		overflow-x: hidden;
	}
	.TreeMenu
	{
		width:100%;
		color:white;
	}

	.ListDiv
	{
		font-size: 19px;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow: inset 0px 40px 0px #419597;
		width: 100%;
		cursor: pointer;
	}

	.ListItems
	{
		font-size:21px;
		font-weight:bold;
		text-align:center;
		background-color:#419597;
	}
	
	.imageBlackPlace
	{
		margin-top:-20px;
	}

	.imageVerticalPlace1
	{
		width: 38%;
		display: inline-block;
		margin: 20px 20px 20px 25px;
	}
	.imageVerticalPlace2
	{
		width:40%;
		display:inline-block;
		margin: 20px;
	}
	
	.ListItemsPlace
  {
	border: 2px solid white;
	background-color: #1ea295;
	height: 45px;
	display: block;
	margin: 20px;
	border-radius: 25px;
	font-size:18px;
	font-weight:bold;
	color:black;
	width:50%;
  }
	.PlaceImage
	{
		width:235px;
		height:217px;
		margin-top:-20px;
	}
	/*CSS for pictures page*/
	.ContainerPics{
	width:100%;
	height:100%;
	background-image:url(images/Wallpaper4.jpg);
	}
	
	
	.DelhiContain{
		width: 45%;;
	}
	.delhiPic{
	width: 83%;
    height: 300px;
    margin: 32px;
	}
	
	/*css for slides in pictures page*/

	.w3-display-container
	{
		display: inline-block;
		width: 100%;
		height: 30%;
		;
	}
	.mySlides{
		width: 100%;
		height: 500px;
		margin:0px
	}
	.ArrowKeys{
		display: inline-block;
		vertical-align: top;
		width: 36%;
		margin-right:auto;
		margin-left:auto;
		display:block;
	}
	.arrow-buttons{
		height:67px;
	}
	/*css for transport page*/
	.imageBlock1{
		height: 55%;
		margin-top: 35px;
		width: 100%;
	}
	.imageVertical{
		height: 200px;
		width: 66%;
		display: inline-block;
		margin: 25px 10px 0 176px;
	}
	
	
	.imageData{
		width: 79%;
		height: 94px;
		display: inline-block;
		font-size: 18px;
		text-align: justify;
		margin: 10px 10px 10px 65px;
		vertical-align: top;
	}
	/*css for climate page */
	.row1{
		wisth:100%;
	}
	.summer{
		display: inline-block;
		width: 100%;
		margin: 0px 0px 0px 5px;
	}
	.imageSun{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.imageInfo{
		font-size: 20px;
		width: 90%;
		text-align:center;
	}
	/*css for bookings page:both flight and hotel */
	.FlightInfo{
		font-size: 18px;
		width: 100%;
		text-align: center;
		margin-left:0px;
	}
	.imageBlockFlight{
		width:100%;
	}
	.ReservationImage{
		display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 60px;
	}
  }
  

 @media only screen 
and (min-width : 961px) 
and (max-width : 1100px) 
  {


	.NavBar
	{
		width: 100%;
		height: 29px;
		margin: 10px;
	}

	.NavBarDelhi
	{
		height: 8%;
	}
	.ul{
			width:100%;
	}
	li {
		width: 39%;
		height:45px;
		margin:-11px -11px -11px -51px;
	}

	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	}
	
	.rowImage{
		width:207px;
		height:194px;
	}
	.HomeImg
	{
		height:415px;
	}
	/*Delhi Page css media query*/
	.ContainerDelhi{
		width:100%;
		height:86%;
		background-image: url(images/Wallpaper4.jpg);
	}
	.NewPlaces
{
		text-align: center;
		font-size: 45px;
		color: white;
		box-shadow: inset 5px 5px 10px #49d2bd, inset -5px -5px 10px #55bac5;
}
	.headerDelhi{
		font-size: 44px;
	font-weight: bold;
	text-align: center;
	height: 83px;	
	font-family: Arial, Helvetica, sans-serif;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-image:url(images/Wallpaper4.jpg);
	color:white;
	height:65px;
	}
	.LeftContainer
	{
		border: 2px solid white;
		margin-top: 14px;
		width: 30%;
		height: 97%;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.RightContainer
	{
		border: 2px solid white;
		width: 68%;
		height:97%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top: 14px;
		overflow-x: hidden;
	}
	.TreeMenu
	{
		width:100%;
		color:white;
	}

	.ListDiv
	{
		font-size: 19px;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow: inset 0px 40px 0px #419597;
		width: 100%;
		cursor: pointer;
	}

	.ListItems
	{
		font-size:21px;
		font-weight:bold;
		text-align:center;
		background-color:#419597;
	}
	
	.imageBlackPlace
	{
		margin-top:-20px;
	}

	.imageVerticalPlace1
	{
		width: 38%;
		display: inline-block;
		margin: 20px 20px 20px 25px;
	}
	.imageVerticalPlace2
	{
		width:40%;
		display:inline-block;
		margin: 20px;
	}
	
	.ListItemsPlace
  {
	border: 2px solid white;
	background-color: #1ea295;
	height: 45px;
	display: block;
	margin: 20px;
	border-radius: 25px;
	font-size:18px;
	font-weight:bold;
	color:black;
	width:50%;
  }
	.PlaceImage
	{
		width:278px;
		height:217px;
		margin-top:-20px;
	}
	/*CSS for pictures page*/
	.ContainerPics{
	width:100%;
	height:100%;
	background-image:url(images/Wallpaper4.jpg);
	}
	
	
	.DelhiContain{
		width: 45%;;
	}
	.delhiPic{
	width: 86%;
    height: 330px;
    margin: 32px;
	}
	
	/*css for slides in pictures page*/

	.w3-display-container
	{
		display: inline-block;
		width: 100%;
		height: 30%;
		;
	}
	.mySlides{
		width: 100%;
		height: 500px;
		margin:0px
	}
	.ArrowKeys{
		display: inline-block;
		vertical-align: top;
		width: 36%;
		margin-right:auto;
		margin-left:auto;
		display:block;
	}
	.arrow-buttons{
		height:66px;
	}
	/*css for transport page*/
	
	.imageData{
		width: 37%;
		height: 175px;
		display: inline-block;
		font-size: 18px;
		text-align: justify;
		margin: 10px 10px 10px 93px;
		vertical-align: top;
	}
	/*css for climate page */
	.row1{
		wisth:100%;
	}
	.summer{
		display: inline-block;
		width: 100%;
		margin: 0px 0px 0px 5px;
	}
	.imageSun{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.imageInfo{
		font-size: 20px;
		width: 90%;
		text-align:center;
	}
	/*css for bookings page:both flight and hotel */
	.FlightInfo{
		font-size: 18px;
		width: 100%;
		text-align: center;
		margin-left:0px;
	}
	.imageBlockFlight{
		width:100%;
	}
	.ReservationImage{
		display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 60px;
	}
  }
  @media only screen 
and (min-width : 1101px) 
and (max-width : 1328px) 
  {
	.NavBar
	{
		width: 100%;
		height: 25px;
		margin: 10px;
	}

	.NavBarDelhi
	{
		height: 8%;
	}
	.ul{
			width:100%;
	}
	li {
		width: 38%;
		height:41px;
		margin:-11px -11px -11px -51px;
	}

	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size:18px;
	}
	
	.rowImage{
		width:254px;
		height:194px;
	}
	.HomeImg
	{
		height:458px;
	}
	
		/*Delhi Page css media query*/
	.ContainerDelhi{
		width:100%;
		height:86%;
		background-image: url(images/Wallpaper4.jpg);
	}
	
	.headerDelhi{
		font-size: 44px;
	font-weight: bold;
	text-align: center;
	height: 83px;	
	font-family: Arial, Helvetica, sans-serif;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-image:url(images/Wallpaper4.jpg);
	color:white;
	height:65px;
	}
	.LeftContainer
	{
		border: 2px solid white;
		margin-top: 14px;
		width: 30%;
		height: 97%;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.RightContainer
	{
		border: 2px solid white;
		width: 68%;
		height:97%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top: 14px;
		overflow-x: hidden;
	}
	.TreeMenu
	{
		width:100%;
		color:white;
	}

	.ListDiv
	{
		font-size: 22px;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow: inset 0px 40px 0px #419597;
		width: 100%;
		cursor: pointer;
	}

	.ListItems
	{
		font-size:26px;
		font-weight:bold;
		text-align:center;
		background-color:#419597;
	}
	
	.imageBlackPlace
	{
		margin-top:-20px;
	}

	.imageVerticalPlace1
	{
		width: 38%;
		display: inline-block;
		margin: 20px 20px 20px 25px;
	}
	.ListItemsPlace
  {
	border: 2px solid white;
	background-color: #1ea295;
	height: 45px;
	display: block;
	margin: 20px;
	border-radius: 25px;
	font-size:18px;
	font-weight:bold;
	color:black;
	width:50%;
  }
	.imageVerticalPlace2
	{
		width:40%;
		display:inline-block;
		margin: 20px;
	}
	.PlaceImage
	{
		width:316px;
		height:217px;
		margin-top:-20px;
	}
	
	/*CSS for pictures page*/
	.ContainerPics{
	width:100%;
	height:118%;
	background-image:url(images/Wallpaper4.jpg);
	}
	
	
	.DelhiContain{
		width: 45%;;
	}
	.delhiPic{
	width: 86%;
    height: 360px;
    margin: 32px;
	}
	.ImageTitle{
		margin:0px;
	}
	/*css for slides in pictures page*/

	.w3-display-container
	{
		display: inline-block;
		width: 100%;
		height: 30%;
		;
	}
	.mySlides{
		width: 65%;
		height: 400px;
		margin-left: 194px;
	}
	.ArrowKeys{
		display: inline-block;
		vertical-align: top;
		width: 25%;
		margin-right:auto;
		margin-left:auto;
		display:block;
		
	}
	/*css for transport page*/
	
	.imageData{
		width: 38%;
		height: 175px;
		display: inline-block;
		font-size: 18px;
		text-align: justify;
		margin: 10px 10px 10px 103px;
		vertical-align: top;
	}
	
	/*css for bookings page:both flight and hotel*/
	.ReservationImage
	{
		margin:80px 0px 0px 63px;
		display:inline-block;
	}
	.ReservationImage:hover{
		transform: scale(1.3);
	}
  }
  
  @media only screen 
and (min-width : 1329px) 
and (max-width : 1689px) 
  {
	.NavBar
	{
		width: 100%;
		height: 25px;
		margin: 10px;
	}

	.NavBarDelhi
	{
		height: 8%;
	}
	.ul{
			width:100%;
	}
	li {
		width: 37%;
		height:41px;
		margin:-11px -11px -11px -51px;
	}
	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size:20px;
	}
	
	.rowImage{
		width:315px;
		height:194px;
	}
	
	.HomeImg
	{
		height:521px;
	}
		/*Delhi Page css media query*/
	.ContainerDelhi{
		width:100%;
		height:86%;
		background-image: url(images/Wallpaper4.jpg);
	}
	
	.headerDelhi{
		font-size: 44px;
	font-weight: bold;
	text-align: center;
	height: 83px;	
	font-family: Arial, Helvetica, sans-serif;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-image:url(images/Wallpaper4.jpg);
	color:white;
	height:65px;
	}
	.LeftContainer
	{
		border: 2px solid white;
		margin-top: 14px;
		width: 30%;
		height: 97%;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.RightContainer
	{
		border: 2px solid white;
		width: 68%;
		height:97%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top: 14px;
		overflow-x: hidden;
	}
	.TreeMenu
	{
		width:100%;
		color:white;
	}

	.ListDiv
	{
		font-size: 22px;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow: inset 0px 40px 0px #419597;
		width: 100%;
		cursor: pointer;
	}

	.ListItems
	{
		font-size:26px;
		font-weight:bold;
		text-align:center;
		background-color:#419597;
	}
	
	.imageBlackPlace
	{
		margin-top:-20px;
	}

	.imageVerticalPlace1
	{
		width: 38%;
		display: inline-block;
		margin: 20px 20px 20px 25px;
	}
	.imageVerticalPlace2
	{
		width:40%;
		display:inline-block;
		margin: 20px;
	}
	.ListItemsPlace
  {
	border: 2px solid white;
	background-color: #1ea295;
	height: 45px;
	display: block;
	margin: 20px;
	border-radius: 25px;
	font-size:18px;
	font-weight:bold;
	color:black;
	width:50%;
  }
	.PlaceImage
	{
		width:372px;
		height:230px;
		margin-top:-20px;
	}
	/*CSS for pictures page*/
	.ContainerPics{
	width:100%;
	height:86%;
	background-image:url(images/Wallpaper4.jpg);
	}
	
	
	.DelhiContain{
		width: 30%;;
	}
	.delhiPic{
	width: 86%;
    height: 300px;
    margin: 32px;
	}
	
	/*css for slides in pictures page*/

	.w3-display-container
	{
		display: inline-block;
		width: 100%;
		height: 30%;
		;
	}
	.mySlides{
		width: 100%;
		height: 562px;
		margin:0px
	}
	.ArrowKeys{
		display: inline-block;
		vertical-align: top;
		width: 28%;
		margin-right:auto;
		margin-left:auto;
		display:block;
	}
	/*css for transport page*/
	
	.imageData{
		width: 45%;
		height: 175px;
		display: inline-block;
		font-size: 20px;
		text-align: justify;
		margin: 10px 10px 10px 97px;
		vertical-align: top;
	}
	/*css for bookings page:both flight and hotel*/
	.ReservationImage
	{
		margin:80px 0px 0px 135px;
		display:inline-block;
	}
	.ReservationImage:hover{
		transform: scale(1.3);
	}
  }
  
  @media only screen 
and (min-width : 1690px) 
and (max-width : 1980px) 
  {
	.NavBar
	{
		width: 100%;
		height: 29px;
		margin: 10px;
	}

	.NavBarDelhi
	{
		height: 8%;
	}
	.ul{
			width:100%;
	}
	li {
		width: 36%;
		height:45px;
		margin:-11px -11px -11px -51px;
	}

	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size:20px;
	}
	
	.rowImage{
		width:345px;
		height:194px;
	}
	.HomeImg
	{
		height:812px;
	}
		/*Delhi Page css media query*/
	.ContainerDelhi{
		width:100%;
		height:86%;
		background-image: url(images/Wallpaper4.jpg);
	}
	
	.headerDelhi{
		font-size: 44px;
	font-weight: bold;
	text-align: center;
	height: 83px;	
	font-family: Arial, Helvetica, sans-serif;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-image:url(images/Wallpaper4.jpg);
	color:white;
	height:65px;
	}
	.LeftContainer
	{
		border: 2px solid white;
		margin-top: 14px;
		width: 30%;
		height: 97%;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.RightContainer
	{
		border: 2px solid white;
		width: 68%;
		height:97%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top: 14px;
		overflow-x: hidden;
	}
	.TreeMenu
	{
		width:100%;
		color:white;
	}

	.ListDiv
	{
		font-size: 24px;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow: inset 0px 40px 0px #419597;
		width: 100%;
		cursor: pointer;
	}

	.ListItems
	{
		font-size:30px;
		font-weight:bold;
		text-align:center;
		background-color:#419597;
	}
	
	.imageBlackPlace
	{
		margin-top:-20px;
	}

	.imageVerticalPlace1
	{
		width: 38%;
		display: inline-block;
		margin: 20px 20px 20px 25px;
	}
	.imageVerticalPlace2
	{
		width:40%;
		display:inline-block;
		margin: 20px;
	}
	.ListItemsPlace
  {
	border: 2px solid white;
	background-color: #1ea295;
	height: 45px;
	display: block;
	margin: 20px;
	border-radius: 25px;
	font-size:18px;
	font-weight:bold;
	color:black;
	width:50%;
  }
	.PlaceImage
	{
		width:400px;
		height:260px;
		margin-top:-20px;
	}
	/*CSS for pictures page*/
	.ContainerPics{
	width:100%;
	height:86%;
	background-image:url(images/Wallpaper4.jpg);
	}
	
	
	.DelhiContain{
		width: 30%;;
	}
	.delhiPic{
	width: 86%;
    height: 360px;
    margin: 32px;
	}
	
	/*css for slides in pictures page*/

	.w3-display-container
	{
		display: inline-block;
		width: 100%;
		height: 30%;
		;
	}
	.mySlides{
		width: 100%;
		height: 742px;
		margin:0px
	}
	.ArrowKeys{
		display: inline-block;
		vertical-align: top;
		
		margin-right:auto;
		margin-left:auto;
		display:block;
		width:25%;
		/*height: 100px;
		margin: 8px 170px 170px 764px;*/
	}
	
	/*css for transport page*/
	
	.imageData{
		width: 45%;
		height: 175px;
		display: inline-block;
		font-size: 22px;
		text-align: justify;
		margin: 10px 10px 10px 66px;
		vertical-align: top;
	}
	/*css for bookings page:both flight and hotel*/
	.ReservationImage
	{
		margin:80px 0px 0px 193px;
		display:inline-block;
	}
	.ReservationImage:hover{
		transform: scale(1.3);
	}
  }




