/*This file contains css for all pages*/
body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family:'Source Sans Pro', sans-serif;
	overflow-x:hidden;
	}
.TitleDiv
{
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-image:url(images/Wallpaper4.jpg);
	color:white;
	width:100%;
}
.HomeImg
{
	height:77%;
	background-image:url(images/indiaCulture.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	display: -webkit-flex;
	display: flex;  
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
}
.flex-container {
	background-image:url(images/Wallpaper4.jpg);
	background-size:cover;
	color:white;
	background-repeat:no-repeat;
	display: -webkit-flex;
	display: flex;  
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	width:100%;
}	

.header
{
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	height: 83px;	
	font-family: Arial, Helvetica, sans-serif;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-image:url(images/Wallpaper4.jpg);
	color:white;
	height:65px;
}
.caption{
	font-style:italic;
	margin:-11px 0 0 0;
	text-align:center;
	font-size:22px;
}


.cityNameTab{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}
.cityName{
	font-size: 48px;
	font-weight: bold;
	margin: 30px 30px 30px 50px;
	width: 300px;
	display: inline-block;
}

.PlanTrip
{		
	background: #DB7063;
	width: 100%;
	height: 30px;
	font-size: 21px;
	border-bottom-right-radius: 40px;
	border-top-right-radius: 40px;
	margin: 37px 30px 30px -10px;
	font-weight: bold;
	cursor: pointer;
}
title
{
	text-align:center;
}


.city-description
{
	font-size: 25px;
	width: 88%;
	margin: 0px 0px 0px 50px;
	overflow-wrap: break-word;
	text-align:justify;
}

.BigImageDiv
{
	width: 40%;
	height: 415px;
	padding: 10px;
	margin: 10px 10px 10px 45px;
	display:inline-block;
}

.MultiImageDiv
{
	display: inline-block;
	margin: 10px 10px 10px 10px;
	padding: 27px 10px 10px 10px;
}



.BigImage{
	width:100%;
	height:100%;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 5px 3px 10px #000000;
}


.delhi-info
{
	font-size: 23px;
	margin: 25px 0 0 34px;
	text-align: justify;
		width:91%;
}
.btnDelhi
{
	margin: 0 0 0 338px;
}

.NavBar
{
	width: 100%;
	height: 7%;
	margin: 10px 10px -24px -3px;
}

ul {
	list-style-type: none;
	width:100%;
}

li {
    float: left;
	width: 34%;
	margin: -11px -11px -11px -17px;
	height:57px;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 180px;
    text-decoration: none;
}

li a:hover {
	background-color: #DB7063;
}

.active {
    background-color: #DB7063;;
}

.imageVertical
{
	height: 200px;
	width: 33%;
	display: inline-block;
	margin: 25px 10px 0 45px;
}
.imageData
{
	width: 50%;
	height: 175px;
	display: inline-block;
	font-size: 18px;
	text-align: justify;
	margin: 10px 10px 10px 40px;
	vertical-align:top;
}
.SubTitleName
{
	font-size:27px;
	font-weight:bold;
	text-decoration:underline;
	text-align:center;
}
.pageTitle
{
	font-size:55px;
	font-weight:bold;
	text-align:center;
	margin: 20px;
	height: 23px;
}

.imageBlock1
{
		height:40%;
		margin-top:35px;
}

.imageSun
{
		width: 320px;
		margin: 10px 0 0px 65px;
}
.summer
{
	font-size: 25px;
	display: inline-block;
	width: 40%;
	margin: 70px 0px 0px 61px;
}
.ReservationImage
{
	margin:0 0 0 85px;
	display:inline-block;
}
.ReservationImage:hover{
	transform: scale(1.3);
}
.link
{
		text-align: center;
		color:white;
}

h1
{
	text-align:center;
}
a
{
	background-color:#3448A2;
	font-weight:bold;
}

.Container{
	width:100%;
	background-image:url(images/Wallpaper4.jpg);
}

.DashboardContainer
{
	width:100%;
	height:100%;
}
.LeftContainer
{
	border: 2px solid white;
	margin-top:14px;
	width: 25%;
	height: 455px;
	display: inline-block;
	vertical-align:top;
	position:relative;
}

.RightContainer
{
	border: 2px solid white;
	width: 74%;
	height: 455px;
	display: inline-block;
	position:relative;
	vertical-align:top;
	margin-top:14px;
}

.TreeMenu
{
	width: 300px;
	height: 300px;
	color:white;
}

.MaxMinIconChild
{
	width:20px;
	margin:10px 10px 0px 10px;
}

.ChildElements
{
	display: block;
	margin: 10px 10px 10px 0px;
	width: 100%;
	text-align:center;
}
.ListItems{
	font-size:26px;
	font-weight:bold;
}

.ListDiv
{
	font-size: 20px;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0px 40px 0px #3448A2;
	width: 316px;
	cursor:pointer;
}

p:hover{
	background-color: #DB7063;
}

#PlacesDashBoard
{
	height: 100%;
	overflow-y: scroll;
	color: white;
}
#TransportDashboard
{
	height: 100%;
	overflow-y: scroll;
	color: white;
}

#FlightDashboard
{
	height: 100%;
	color: white;
}

#HotelDashboard
{
	height: 100%;
	color: white;
}

#ClimateDashboard
{
	height: 100%;
	color: white;
}
.Info-title
{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 10px;
}



.mySlides
{
	width: 614px;
	height: 443px;
	margin: 23px 23px 23px 140px;
}

.ArrowKeys
{
	display: inline-block;
	vertical-align: top;
	width: 15%;
	height: 100px;
	margin: 194px 100px 100px 120px;
}

.arrow-buttons {
	width: 47%;
	height: 100px;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: white;
	background-color: #3448A2;
	border: 3px solid white;
	border-radius: 18px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	}
  
  .arrow-buttons:hover {
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #3448A2;
	transform: translateY(-7px);
  }

  .delhiPic
  {
	  width:300px;
	  height:300px;
	  margin:39px;
	  
  }

	  .ImageClick
	  {
		-moz-box-shadow:    inset 0 0 10px white;
   		-webkit-box-shadow: inset 0 0 10px white;
   		box-shadow:         inset 0 0 112px white;
	  }
  	.delhiPic:hover{
		transform: scale(1.05);
	  }
  .DelhiContain
  {
	  width:30%;
	  height:70%;
	  cursor:pointer;
	  
   margin: 10px 10px 10px 22px;
   display:inline-block;

  }

  .ImageTitle
  {
	font-size: 44px;
	font-weight: bold;
	height: 10px;	
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	margin:40px;
	text-align:center;
  }

  
  

  .ListItemsPlace
  {
	border: 2px solid white;
	background-color: #1ea295;
	/*width: 450px;*/
	height: 45px;
	display: block;
	margin: 20px;
	border-radius: 25px;
	font-size:18px;
	font-weight:bold;
	color:black;
  }

  .listElementPlace
  {
	font-size: 20px;
	/*width: 90%;*/
	margin: 30px;
	text-align: justify;
  }

  .active
  {
	background-color: #DB7063;
  }

  tab1
  {
	  padding-left:4em;
  }

.BtnContainer
{
	width: 300px;
	margin: 0px 10px 0px -70px;
	display: inline-block;
}
.imageFlight{
	margin-top:40px;
}
.FlightInfo
{
	font-size: 18px;
	margin-left: 91px;
	width: 80%;
	text-align: center;
}

.content{
	width: 100%;
	margin: 10px;
}

.rowImage{
	width:215px;
	height:200px;
}

	.imageVerticalPlace1
	{
		width: 45%;
		display: inline-block;
		margin: 20px 20px 20px 25px;
	}
	.imageVerticalPlace2
	{
		width:45%;
		display:inline-block;
		margin: 20px;
	}
	.PlaceImage
	{
		width:400px;
		height:300px;
	}

  @media (min-width:280px) and (max-width:400px)
  {
	
	.header
	{
		font-size: 32px;
	}
	.caption{
		font-style:italic;
		margin:-36px 0 0 0;
		text-align:center;
		font-size:15px;
	}
	

	.NavBar
	{
		width: 100%;
		height: 23%;
		margin: 10px 10px -88px -182px;
	}

	li {
		width: 100%;
		margin: -11px;
		height:55px;
	}

	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 152px;
	text-decoration: none;
	width:100%;
	}
	.PlanTrip
	{		
		width:100%;
		margin: -15px 30px 30px 124px;
	}

	.city-description
	{
		font-size: 18px;
		margin: 0px 0px 0px 24px;
		text-align: justify;
	}

	.BigImageDiv
	{
		width:40%;
		margin:0px 10px 10px 23px;
		
	}
	.BigImage
	{
		width:215%;
		height:270px;
	}

	.MultiImageDiv
	{
		margin:-188px 10px 10px 25px;
	}
	.rowImage{
		width:100%;
		height:194px;
	}
	
	.cityName
	{
		margin:16px;
		text-align:center;
	}

	.BtnContainer
	{
		width:187px;
	}

	.content{
		margin-left:-8px;
	}

	/*Delhi Page css media query*/
	.Container{
		width:100%;
		background-image: url(images/Wallpaper4.jpg);
	}

	.LeftContainer
	{
		border: 2px solid white;
		margin-top: 14px;
		width: 100%;
		height: 245px;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.TreeMenu
	{
		width: 100%;
		height: 248px;
		color: white;
	}

	.ListDiv
	{
		font-size: 16px;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		width: 100%;
		cursor: pointer;
	}

	.ListItems
	{
		font-size: 20px;
		font-weight: bold;
		height: 26px;
		text-align: center;
		background-color:#3448A2;
	}
	.RightContainer
	{
		border: 2px solid white;
		width: 100%;
		height: 100%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top: 14px;
		overflow-x: hidden;
	}

	.Info-title
	{
		font-size:26px;
	}
	.imageBlackPlace
	{
		margin-top:-20px;
	}

	.imageVerticalPlace1
	{
		width:90%;
	}
	.imageVerticalPlace2
	{
		width:90%;
	}
	.PlaceImage
	{
		width:100%;
		height:195px;
		margin-top:-20px;
	}

	.ListItemsPlace
  {
	border: 2px solid white;
	background-color: #1ea295;
	height: 45px;
	display: block;
	margin: 20px;
	border-radius: 25px;
	font-size:18px;
	font-weight:bold;
	color:black;
  }

  .listElementPlace
  {
	font-size: 16px;
	margin: 30px;
	text-align: justify;
  }
  }

  @media (min-width:401px) and (max-width:600px)
  {
	.header
	{
		font-size: 35px;
	}
	.caption{
		font-style:italic;
		margin:-30px 0 0 0;
		text-align:center;
		font-size:18px;
	}

	.NavBar
	{
		width: 100%;
		height: 26%;
		margin: 10px 10px -95px -210px;
	}

	li {
		width: 100%;
		margin: -11px;
		height:55px;
	}

	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 182px;
	text-decoration: none;
	width:100%;
	}

	.PlanTrip
	{		
		width:100%;
	}

	.city-description
	{
		font-size: 18px;
		width: 100%;
		margin: 0px 0px 0px 5px;
		overflow-wrap: break-word;
		text-align: justify;
	}

	.BigImageDiv
	{
		width:85%;
		margin:0px 10px 10px 37px;
		
	}
	.BigImage
	{
		width:94%;
		height:300px;
	}

	.MultiImageDiv
	{
		margin:-157px 10px 10px 44px;
		display:inline-block;
		width:86%;
	}
	.rowImage{
		width:45%;
		height:194px;
	}
	.row2
	{
		margin:0px;
	}

	.row1{
		width:100%;
		display:inline-block;
	}

	.cityName
	{
		text-align: center;
		margin: 0px;
		font-size: 45px;
	}

	.BtnContainer
	{
		width: 300px;
		margin: 0px 10px 0px 45px;
	}

	.imageList{
		width:100%;
	}

	.content
	{
		width:93%;
	}

	ul {
		list-style-type: none;
		width:100%;
	}
	

	/*Delhi Page css media query*/
	.Container{
		width:100%;
		background-image: url(images/Wallpaper4.jpg);
	}

	.LeftContainer
	{
		border: 2px solid white;
		margin-top: 14px;
		width: 100%;
		height: 245px;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.TreeMenu
	{
		width: 100%;
		height: 248px;
		color: white;
	}

	.ListDiv
	{
		font-size: 16px;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		width: 100%;
		cursor: pointer;
	}

	.ListItems
	{
		font-size: 20px;
		font-weight: bold;
		height: 26px;
		text-align: center;
		background-color:#3448A2;
	}
	.RightContainer
	{
		border: 2px solid white;
		width: 100%;
		height: 100%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top: 14px;
		overflow-x: hidden;
	}

	.Info-title
	{
		font-size:26px;
	}
	.imageBlackPlace
	{
		margin-top:-20px;
	}

	.imageVerticalPlace1
	{
		width:90%;
	}
	.imageVerticalPlace2
	{
		width:90%;
	}
	.PlaceImage
	{
		width:100%;
		height:200px;
		margin-top:-20px;
	}

	.ListItemsPlace
  {
	border: 2px solid white;
	background-color: #1ea295;
	height: 45px;
	display: block;
	margin: 20px;
	border-radius: 25px;
	font-size:18px;
	font-weight:bold;
	color:black;
  }

  .listElementPlace
  {
	font-size: 16px;
	margin: 30px;
	text-align: justify;
  }
  }

  @media only screen 
and (min-device-width : 601px) 
and (max-device-width : 800px) {
	.header
	{
		font-size: 40px;
	}
	.caption{
		font-style:italic;
		margin:-30px 0 0 0;
		text-align:center;
		font-size:18px;
	}

	.NavBar
	{
		width: 100%;
		height: 26%;
		margin: 10px 10px -95px -210px;
	}

	li {
		width: 100%;
		margin: -11px;
		height:55px;
	}

	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 182px;
	text-decoration: none;
	width:100%;
	}

	.PlanTrip
	{		
		width:100%;
	}

	.city-description
	{
		font-size: 18px;
		width: 100%;
		margin: 0px 0px 0px 11px;
		overflow-wrap: break-word;
		text-align: justify;
	}

	.BigImageDiv
	{
		width:85%;
		margin:0px 10px 10px 37px;
		
	}
	.BigImage
	{
		width:94%;
		height:300px;
	}

	.MultiImageDiv
	{
		margin:-157px 10px 10px 44px;
		display:inline-block;
		width:86%;
	}
	.rowImage{
		width:45%;
		height:194px;
	}
	.row2
	{
		margin:0px;
	}

	.row1{
		width:100%;
		display:inline-block;
	}

	.cityName
	{
		text-align: center;
		margin: 0px;
		font-size: 45px;
	}

	.BtnContainer
	{
		width: 300px;
		margin: 0px 10px 0px 45px;
	}

	.imageList{
		margin-left:22px;
		width:100%;
	}

	.content
	{
		width:93%;
	}

	ul {
		list-style-type: none;
		width:100%;
	}
	/*Delhi Page css media query*/
	.Container{
		width:100%;
		background-image: url(images/Wallpaper4.jpg);
	}

	.LeftContainer
	{
		border: 2px solid white;
		margin-top: 14px;
		width: 100%;
		height: 245px;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.TreeMenu
	{
		width: 100%;
		height: 248px;
		color: white;
	}

	.ListDiv
	{
		font-size: 16px;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		width: 100%;
		cursor: pointer;
	}

	.ListItems
	{
		font-size: 20px;
		font-weight: bold;
		height: 26px;
		text-align: center;
		background-color:#3448A2;
	}
	.RightContainer
	{
		border: 2px solid white;
		width: 100%;
		height: 100%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top: 14px;
		overflow-x: hidden;
	}

	.Info-title
	{
		font-size:26px;
	}
	.imageBlackPlace
	{
		margin-top:-20px;
	}

	.imageVerticalPlace1
	{
		width: 40%;
		display: inline-block;
		margin: 20px 20px 20px 25px;
	}
	.imageVerticalPlace2
	{
		width:40%;
		display:inline-block;
		margin: 20px;
	}
	.PlaceImage
	{
		width:260px;
		height:195px;
		margin-top:-20px;
	}

	.ListItemsPlace
  {
	border: 2px solid white;
	background-color: #1ea295;
	height: 45px;
	display: block;
	margin: 20px;
	border-radius: 25px;
	font-size:18px;
	font-weight:bold;
	color:black;
  }

  .listElementPlace
  {
	font-size: 16px;
	margin: 30px;
	text-align: justify;
  }
  }
  @media only screen 
and (min-device-width : 801px) 
and (max-device-width : 950px) 
  {


	.NavBar
	{
		width: 100%;
		height: 26%;
		margin: 0px 0px -175px -12px;
	}

	.NavBarDelhi
	{
		height: 8%;
	}
	.ul{
			width:100%;
	}
	li {
		width: 301px;
		height:55px;
	}

	.ListDelhi {
		width: 34%;
		height:55px;
	}

	li a {
	display: block;
	color: white;
	text-align: center;
	padding: 13px 46px 10px 58px;
	text-decoration: none;
	}

	.PlanTrip
	{		
		width:100%;
	}

	.city-description
	{
		font-size: 18px;
		width: 100%;
		margin: 0px 0px 0px 34px;
		overflow-wrap: break-word;
		text-align: justify;
	}

	.BigImageDiv
	{
		width:85%;
		margin:0px 10px 10px 37px;
		
	}
	.BigImage
	{
		width:94%;
		height:300px;
	}

	.MultiImageDiv
	{
		margin:-157px 10px 10px 44px;
		display:inline-block;
		width:86%;
	}
	.rowImage{
		width:45%;
		height:194px;
	}
	.row2
	{
		margin:0px;
	}

	.row1{
		width:100%;
		display:inline-block;
	}

	.cityName
	{
		text-align: center;
		margin: 0px;
		font-size: 45px;
	}

	.BtnContainer
	{
		width: 300px;
		margin: 0px 10px 0px 45px;
	}

	.imageList{
		margin-left:58px;
		width:100%;
	}

	.content
	{
		width:93%;
	}

	ul {
		list-style-type: none;
		width:100%;
	}

	.LeftContainer
	{
		border: 2px solid white;
		margin-top: 14px;
		width: 30%;
		height: 455px;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	.RightContainer
	{
		border: 2px solid white;
		width: 65%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-top: 14px;
		overflow-x: hidden;
	}
	.TreeMenu
	{
		height:300px;
		color:white;
	}

	.ListDiv
	{
		font-size: 19px;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow: inset 0px 40px 0px #3448A2;
		width: 85%;
		cursor: pointer;
	}

	.ListItems
	{
		font-size:21px;
		font-weight:bold;
	}
	
	.imageBlackPlace
	{
		margin-top:-20px;
	}

	.imageVerticalPlace1
	{
		width: 38%;
		display: inline-block;
		margin: 20px 20px 20px 25px;
	}
	.imageVerticalPlace2
	{
		width:40%;
		display:inline-block;
		margin: 20px;
	}
	.PlaceImage
	{
		width:235px;
		height:217px;
		margin-top:-20px;
	}
  }

  /* only for home image */
  @media (min-width:280px) and (max-width:400px)
  {
	.HomeImg
	{
		height:32%;
	}
  }

  @media (min-width:400px) and (max-width:500px)
  {
	.HomeImg
	{
		height:40%;
	}
  }

  @media (min-width:500px) and (max-width:650px)
  {
	.HomeImg
	{
		height:50%;
	}
  }

  @media (min-width:651px) and (max-width:850px)
  {
	.HomeImg
	{
		height:65%;
	}
  }

  @media (min-width:851px) and (max-width:1000px)
  {
	.HomeImg
	{
		height:75%;
	}
  }























  /*@media (min-width:280px){
	.header
	{
		font-size: 23px;
		font-weight: bold;
		text-align: center;
		height: 83px;	
		font-family: Arial, Helvetica, sans-serif;
		-moz-box-shadow:    inset 0 0 10px #000000;
	   -webkit-box-shadow: inset 0 0 10px #000000;
	   box-shadow:         inset 0 0 10px #000000;
	   background-image:url(images/Wallpaper4.jpg);
		color:white;
		height:65px;
	}
	.caption{
		font-style:italic;
		margin:-13px 0 0 0;
		text-align:center;
		font-size:16px;
	}
	.HomeImg
{
	height:27%;
	background-image:url(images/indiaCulture.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	display: -webkit-flex;
	display: flex;  
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
}

li {
	width: 280px;
	margin: -10px;
}

.NavBar
{
	width: 100%;
	height: 25%;
	margin: 10px 10px 3px -28px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18px 20px;
	text-decoration: none;
	width:100%;
}
  }
/*@media (min-width:400px){
	.header
	{
		font-size: 26px;
	}
	.caption{
		font-style:italic;
		margin:-26px 0 0 0;
		text-align:center;
		font-size:16px;
	}
	.HomeImg
{
	height:45%;
	
}
}

/*@media (min-width:612px){
	.header
	{
		font-size: 26px;
	}
	.caption{
		font-style:italic;
		margin:-26px 0 0 0;
		text-align:center;
		font-size:16px;
	}
	.HomeImg
{
	height:60%;
	
}
	
  }
  /*@media (min-width:860px){
	.header
	{
		font-size: 32px;
	}
	.caption{
		font-style:italic;
		margin:-26px 0 0 0;
		text-align:center;
		font-size:16px;
	}
	.HomeImg
{
	height:70%;
	
}
  }

  @media (min-width:1026px){
	.header
	{
		font-size: 35px;
	}
	.caption{
		font-style:italic;
		margin:-26px 0 0 0;
		text-align:center;
		font-size:18px;
	}
	.HomeImg
{
	height:80%;
	
}
}*/
